.contact-container {
	margin: 1em 2em 2em 2em;

	& div {
		margin-bottom: 1em;
	}
}

.contact-list {
	display: flex;
	margin-top: 0.25em;
	justify-items: center;
	align-items: center;
}

.icon-address {
	font-size: 1.5rem;
	color: $primary;
	margin-bottom: auto;
}

.form-error {
	font-size: 0.9rem;
	margin-bottom: 0.15em;
	color: getColour(error);
	box-sizing: border-box;
}

.messageAlert {
	margin-top: 2em;
}

.alert-custom {
	background: getColour(icon);
	color: $primary;
	border: 2px solid $primary;
}

.invalid {
	border: 1px solid getColour(error);
}
